
@{
    ViewData["Title"] = "My Car";
    var item = Model;
}

<div class="card col-lg-5 my-3 py-3 px-3 margin-card">
    <tableRow>
        <tr>
            <td>
                <form action="/UpdateOrder" method="post">
                    <p><input type="hidden" name="orderID" value="@item.Id" /></p>
                    <p>Car number :</p><input type="text" name="carNumber" value="@item.CarNumber" />
                    <p>Brand of  car:</p><input type="text" name="brand" value="@item.Brand" />
                    <p>Model of  car:</p><input type="text" name="model" value="@item.Model" />
                    <p>Approximate time to issuence:</p><input type="text" name="deadline" value="@item.DeadLine" />
                    <p>Approximate price:</p><input type="number" name="price" value="@item.Price" />
                    <p><input type="submit" name="" value="UpdateOrder"/></p>
                </form>
            </td>
        </tr>
    </tableRow>
</div>