
@{ ViewData["Title"] = "My Car"; 
    var orders = Model; }

<div class="text-center container shadow border border-secondary">
    <h1 class=""><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateOrder">New Order</a></h1>
</div>

@foreach (var item in orders)
{


<div class="card col-lg-5 my-3 py-3 px-3 margin-card d-inline-block" style="max-width: 49%;">
        <tableRow>
            <tr>
                <td>
                    @*REDACTED*@
                    @if(item.Status != "Done"){
                        <form action="/ManageOrder" method="post" >
                            <div class="container justify-content-center text-center">
                                <p class=""><button class="container-fluid" formmethod="post" name="CarNumber" value="@item.CarNumber">Edit</button></p>
                            </div>
                        </form>
                     }else
                        {
                            <div class="alert-success text-center">
                                <h3>It's done</h3>
                            </div>
                        }
                    <p>Car number : @item.CarNumber </p>
                    <p>Brand of  car: @item.Brand
                    <p>Model of  car: @item.Model
                    <p>Approximate time to issuence: @item.DeadLine </p>
                    <p>Id of your worker :@item.WorkerID</p>
                    <p>Order status: @item.Status </p>
                    <p>Approximate price: @item.Price$ </p>
                </td>
            </tr>
        </tableRow>
    </div>
}
