@{
    ViewData["Title"] = "My Car";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Information about my car</p>
</div>

@if (User.Identity.IsAuthenticated)
{
    @foreach (var item in Model)
    {
        <tableRow>
            <tr>
                <td>
                    <p>Youe car number : @item.CarNumber </p>
                    <p>Model of your car: @item.Model
                    <p>Approximate time to issuence: @item.DeadLine </p>
                    <p>Id  of your worker :@item.WorkerID</p>
                    <p>Order status: @item.Status </p>
                    <p>Approximate price: @item.Price$ </p>
                </td>
            </tr>
        </tableRow>
    }
}