@{
    var orders = Model;
}
<div class="text-center">
    <h1>My Car</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (orders.Count != 0)
    {
        <div class="text-center">
            <h1 class="display-4">@ViewData["Title"]</h1>
            <p>Information about my car</p>
        </div>
        foreach (var item in orders)
        {
            <tableRow>
                <tr>
                    <td>
                        <p>Youe car number : @item.CarNumber </p>
                        <p>Brand of your car: @item.Brand
                        <p>Model of your car: @item.Model
                        <p>Approximate time to issuence: @item.DeadLine </p>
                        <p>Id  of your worker :@item.WorkerID</p>
                        <p>Order status: @item.Status </p>
                        <p>Approximate price: @item.Price$ </p>
                    </td>
                </tr>
            </tableRow>
        }

    }
    else
    {
        <div class="text-center">
            <p>You dont have any orders to repair of your car</p>
        </div>

    }
}
else
{
    <div class="text-center">
        <p>Here will be information about the repair status of your car</p>
    </div>
}




